<div class="row">
    <div class="col s12 m9 l10">
        <div class="row">
            <div class="col s12">
                <h2 id="tips" class="coming center-align section scrollspy">Cover Letter Tips</h2>
            </div>
            <div class="col s12 card">
                <ol class="flow-text">
                    <li>Write One! Even if an application form says it's optional, it's not.</li>
                    <li>Include a 'top sheet' for your resume if there's only one upload link.</li>
                    <li>Research is crucial to making effective cover letters.</li>
                    <li>Get to the point. More Words != Better.</li>
                    <li>Read it out loud before submitting.</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col s12 ">
                <h3 id="template" class="section scrollspy">Making a Basic Template to Avoid Repetition</h3>
                <p class="flow-text">
                    Regardless of what text editor you use to write your cover letters, making a template to work from will ease the pain and tedious nature of the writing process. Google Docs is effective, free and allows you to export to any required doc format. PDFs ensure layout consistency, so if that's an option, choose PDFs.
                </p>
                <hr>
                <section id="clHeader" class="section scrollspy template_steps">
                    <h4>Start With a Header</h4>
                    <p class="flow-text">
                        Use the same header on both your cover letter and resume. Consistency is key.
                    </p>
                    <div class="example_text hoverable">
                        <div class="row">
                            <div class="col s6">
                                <h5>Your Name</h5>
                                <h6>Your Title (ie Web Developer)</h6>
                            </div>
                            <div class="col s6 right-align">
                                <h6>Current City, State</h6>
                                <h6>Email Address</h6>
                                <h6>Phone Number</h6>
                                <h6>(any relevant links ie: Portfolio, LinkedIn)</h6>
                            </div>
                        </div>
                    </div>
                </section>
                <hr>
                <section id="address" class="section scrollspy template_steps">
                    <h4>Address Your Cover Letter</h4>
                    <p class="flow-text">
                        Now this doesn't mean an actual physical address. Research the person responsible for new hires. Look for key titles like "Talent Specialist", "Hiring Manager", and "HR Coordinator". LinkedIn is a great resource for this task. Also, in the address, be sure to include the company name and job position.
                    </p>
                    <div class="example_text hoverable">
                        <div class="row">
                            <div class="col s12">
                                <p class="flow-text">Company: Company Name</p>
                                <p class="flow-text">Position: Position You Want</p>
                                <p>City, State</p>
                                <p>Optional: Add Company's Website URL</p>
                                <h6 class="flow-text">
                                    Dear (name of person you researched) and the Hiring Team,
                                </h6>
                            </div>
                        </div>
                    </div>
                </section>
                <hr>
                <section id="hook" class="section scrollspy template_steps">
                    <h4>Write a Hook</h4>
                    <p class="flow-text">
                        Keep your opener short and sweet. Prop the company up for one of its awesome attributes or values. Then lay out your desire to work for them.
                    </p>
                    <div class="example_text hoverable">
                        <div class="row">
                            <div class="col s12">
                                <p class="flow-text">
                                    (Company Name has these values or attributes - reference research )
                                    And that's I want to work for you.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <hr>
                <section id="shoutOut" class="section scrollspy template_steps">
                    <h4>Shout Out</h4>
                    <p class="flow-text">
                        Everyone likes to hear about something they are doing well - especially tech companies that are undergoing rapid expansion that is generally stressful and difficult to manage. Expansion is usually caused by doing something awesome, so read up on the latest news articles about the company. Find out what is currently driving the growth and success of the company.
                    </p>
                    <div class="example_text hoverable">
                        <div class="row">
                            <div class="col s12">
                                <p class="flow-text">
                                    I'm impressed by the company's attention and focus on (some cause or tech topic). (Give concrete example of a story you read or a blog post an engineer wrote about) I want to be part of a passionate team of developers that is dedicated to (some cause or tech topic).
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <hr>
                <section id="qualifications" class="section scrollspy template_steps">
                    <h4>Why Me? Qualification Time!</h4>
                    <p class="flow-text">
                        This is your prime time slot. Use it wisely. Include relevant work experience that fulfils specific requirement in the job description. If you don't have much work experience to pull from, write about success in your education.
                    </p>
                    <div class="example_text hoverable">
                        <div class="row">
                            <div class="col s12">
                                <p class="flow-text">
                                    I achieved top marks in all my qualifying exams from (some education institution). I placed 1st at a Hackathon for (some Hackathon project goal). I completed a (difficult project) in (short time frame). My 4-person development team implemented a new plugin for (some open-source project on Git).
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <hr>
                <section id="star" class="section scrollspy template_steps">
                    <h4>Specific Qualification From Listing</h4>
                    <p class="flow-text">
                        Re-read the job description and identify the top three skill you think are necessary for the job. Come up with a specific situation that proves you have at least one of those skills. You can do it! Use STAR format to give a specific example of one of your strongest qualifications.
                    </p>
                    <div class="example_text hoverable">
                        <div class="row">
                            <div class="col s12">
                                <p class="flow-text">
                                    In the job description, I noticed that the engineering team emphasizes (some skill). (Give a STAR example)
                                    <ul class="flow-text">
                                        <li>Situation - Set Specific Content for the example.</li>
                                        <li>Task - What my role was in the situation to address the problem.</li>
                                        <li>Activity - What I did, steps I took, to address the task.</li>
                                        <li>Result - How the situation turned out.</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <hr>
                <section id="actionItem" class="section scrollspy template_steps">
                    <h4>Actionable Item</h4>
                    <p class="flow-text">
                        Make sure your reader knows what to do after reading through your beautifully crafted cover letter. Include some semblence of excitement about the job and eagerness to discuss how you may be of service to the company. Focus on what you can offer them rather than what they can offer you. No one wants a needy employee.
                    </p>
                    <div class="example_text hoverable">
                        <div class="row">
                            <div class="col s12">
                                <p class="flow-text">
                                    I would greatly appreciate the opportunity to meet with you to discuss how my skills will be beneficial for your company's current needs. Email/Phone is the most effective way to reach me. I'm available (add broad availability during the week).
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <hr>
                <section id="signature" class="section scrollspy template_steps">
                    <h4>Signature</h4>
                    <p class="flow-text">
                        Many options for a signature. Depending on the company you are applying to, adjust your closing words to be more casual or more formal. Sometimes, you can just include your name at the end without having to formally end the letter at all. If you want it to look extra polished, consider importing a handwritten signature to make it feel more personal.
                    </p>
                    <div class="example_text hoverable">
                        <div class="row">
                            <div class="col s12">
                                <p class="flow-text">
                                    Examples: "Warm Regards", "Best", "Cheers", "Thanks for your time"
                                </p>
                                <p class="flow-text">
                                    Hand-written Signature (nice touch)
                                </p>
                                <p class="flow-text">
                                    Your name
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <hr>
                <section id="sample" class="last-one section scrollspy template_steps">
                    <h4>Sample Summary</h4>
                    <p class="flow-text">
                        That's a wrap. Now you're fully equipped to tackle the not-so-fun job of cover-letter writing. Here's a sample cover letter template that you are welcome to use.
                    </p>
                    <div class="center-align space">
                        <a href="https://www.dropbox.com/s/yrulq4cqpm1i1an/Cover%20Letter%20Template%20-%20Land%20IT.pdf?dl=0" target="_blank"><button type="button" name="downloadTemplate" class="btn deep-purple">Download Cover Letter Template</button></a>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="col hide-on-small-only m3 l2">
      <ul class="section table-of-contents tabs-wrapper">
        <li><a href="#tips">Cover Letter Tips</a></li>
        <li><a href="#template">Basic Template</a></li>
        <li><a href="#clHeader">Header</a></li>
        <li><a href="#address">Address</a></li>
        <li><a href="#hook">Hook</a></li>
        <li><a href="#shoutOut">Shout Out</a></li>
        <li><a href="#qualifications">Qualifications</a></li>
        <li><a href="#star">STAR</a></li>
        <li><a href="#actionItem">Action Item</a></li>
        <li><a href="#signature">Signature</a></li>
        <li><a href="#sample">Sample Summary</a></li>
      </ul>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('.tabs-wrapper').pushpin({ top: $('.tabs-wrapper').offset().top });
        $('.scrollspy').scrollSpy();
        $('.tooltipped').tooltip({delay: 50});
    });
</script>
