<div class="row">
    <div class="col s12 m10 offset-m1 l8 offset-l2 card">
        <div class="container">
            <form class="" action="/users" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
                <input type="text" name="user[first_name]" placeholder="First Name"/>
                <input type="text" name="user[last_name]" placeholder="Last Name"/>
                <input type="email" name="user[email]" placeholder="Email"/>
                <input type="password" name="user[password]" placeholder="Password"/>
                <input type="password" name="user[password_confirmation]" placeholder="Confirm Password"/>
                <div class="row">
                    <div class="col s6">
                        <a href="/"><button type="button" class="btn orange lighten-1" name="start">Go Back</button></a>
                    </div>
                    <div class="col s6">
                        <input type="submit" class="btn green right" name="create_account" value="Create Account"/>
                    </div>
                </div>
            </form>
            <div class="error center-align red-text flow-text">
                <% flash.each do |name, msg| %>
                  <% if msg.is_a?(String) %>
                    <%= content_tag :p, msg %>
                  <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>
