<div class="row">
    <div class="col s12 m8 offset-m2 l6 offset-l3 card">
        <div class="container">
            <form class="" action="/login" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
                <input type="email" name="email" placeholder="Email"/>
                <input type="password" name="password" placeholder="Password"/>
                <div class="row">
                    <div class="col s6">
                        <a href="/"><button type="button" class="btn orange lighten-1" name="start">Go Back</button></a>
                    </div>
                    <div class="col s6">
                        <input type="submit" class="btn right green" name="login" value="Login"/>
                    </div>
                </div>
            </form>
            <div class="error center-align red-text flow-text">
                <% flash.each do |name, msg| %>
                  <% if msg.is_a?(String) %>
                    <%= content_tag :p, msg %>
                  <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>
