<div class="row center-align space shoutout">
    <div class="col s12 shoutout">
        <h4>Keep track of your job search all in one place!</h4>
    </div>
    <div class="col s12 m4">
        <i class="large material-icons orange-text text-darken-2">create</i>
        <p class="flow-text">
            Take notes on job positions & interview questions.
        </p>
    </div>
    <div class="col s12 m4">
        <i class="large material-icons light-blue-text text-darken-1">check_circle</i>
        <p class="flow-text">
            Track the status of each application.
        </p>
    </div>
    <div class="col s12 m4">
        <i class="large material-icons deep-purple-text">format_align_left</i>
        <p class="flow-text">
            Refine your cover letter with helpful guides.
        </p>
    </div>
</div>
<div class="row center-align">
    <div class="col s10 offset-s1 m8 offset-m2 l4 offset-l4 center-align card">
        <a href="/create-account">
            <button type="button" class="btn green darken-2" name="start">Get Started Now!</button>
        </a>
        <p class="space">Already have an account?</p>
        <a href="/login"><button type="button" name="button" class="btn small orange lighten-1">Login!</button></a>
    </div>
</div>
